<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPX Map Generator</title>
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    iframe {
      border: none;
      background-color: #ddd;
    }

    .gpxList {
      max-height: 15em;
      overflow-y: scroll;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>

<body>

  <div>

    <h3>{{ gpx.name }}</h3>

    <script>
      function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
      }

      const width = getQueryParam('width') || '600';
      const height = getQueryParam('height') || '400';
      const src = '/map/{{ gpx.filename }}';

      document.write(`<iframe id="mapFrame" src="${src}" width="${width}" height="${height}"></iframe>`);
    </script>

    {% if gpx %}
    <div>
      <div><b>Filename:</b> {{ gpx.filename }}</div>
      <div><b>Distance:</b> {{ gpx.distance }} km</div>
      <div><button id="saveBtn">Save as Image</button></div>
    </div>
    {% endif %}

    <hr>

    <ul class="gpxList">
      {% for gpx_file in gpx_files %}
      <li>
        <a href="{{ url_for('index', gpx_filename=gpx_file, **request.args) }}">
          {{ gpx_file }}
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>

  <script>
    document.getElementById('saveBtn').addEventListener('click', function () {
      const iframe = document.getElementById('mapFrame');

      // Use html2canvas to capture the content of the iframe
      html2canvas(iframe.contentWindow.document.body).then(canvas => {
        // Create a link element to trigger the download
        const link = document.createElement('a');
        link.download = '{{ gpx.filename[:-4] }}.png';
        link.href = canvas.toDataURL('image/png');
        link.click();
      }).catch(function (error) {
        console.error('Error capturing the iframe:', error);
      });
    });
  </script>

</body>

</html>
