<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Map Frame</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>

    mapboxgl.accessToken = '{{ mapbox_access_token }}';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/onionarmy/cm0hxr4fk004g01pma59r1mqv',
      bounds: {{ bounds }},
      fitBoundsOptions: {
        padding: { left: 50, top: 50, right: 50, bottom: 50 },
      },
      preserveDrawingBuffer: true, // To allow the map to be saved as an image.
    });

    map.on('load', () => {
      {% for source_id, source in sources.items() %}
      map.addSource("{{ source_id }}", {{ source | tojson }});
      {% endfor %}

      {% for layer in layers %}
      map.addLayer({{ layer | tojson }});
      {% endfor %}
    });
  </script>

</body>

</html>
