name: Publish Documentation

on:
  push:
    tags: [v*.*.*] # Trigger on version tags
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install and setup UV with Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.14

      # Current ubuntu-latest has GCC 13 as default compiler.
      # Need a C++23 compiler to build the library.
      - name: Set Clang compiler
        shell: bash
        run: |
          echo "Using Clang"
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV

      - name: Build documentation
        working-directory: ./docs
        run: |
          uv run --frozen --group docs make html

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
        with:
          path: docs/build/html

  deploy:
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
